/*///////////////////////////////////////////// DEFAULTS /////////////////////*/
:root {--aspect-color-black: 0,0,0;}           /*///// Black (#000000) //////////////*/
:root {--aspect-color-white: 255,255,255;}     /*///// White (#ffffff) //////////////*/
:root {--aspect-color-error: 237,98,104;}      /*///// Red (#ed6268) ////////////////*/

/*///////////////////////////////////////////// TEXT /////////////////////////*/
:root {--aspect-color-1: 142,141,168;}         /*///// LIGHT BLUE (#8E8DA8) /////////*/
:root {--aspect-color-2: 98,97,111;}           /*///// OFF BLACK (#62616f) //////////*/
:root {--aspect-color-3: 214,213,221;}         /*///// LIGHT GREY (#d6d5dd) /////////*/